footer {
  background-color: white;
  border-top: 1px solid #cccccc;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
}
