.places {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.places h1 {
  font-size: 30px;
  width: 100%;
  margin-left: 20px;
}

.places article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  position: relative;
}

.places article h2 {
  font-size: 30px;
}

.price_by_night {
  position: absolute;
  color: #ff5a5f;
  border: 4px solid #ff5a5f;
  border-radius: 50%;
  height: 60px;
  font-size: 30px;
  min-width: 60px;
  top: 20px;
  right: 20px;
  text-align: center;
  line-height: 60px;
}

.information {
  display: flex;
  justify-content: center;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  height: 80px;
}

.max_guest,
.number_rooms,
.number_bathrooms {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100px;
  background-repeat: no-repeat;
  background-position: top center;
}


.number_rooms {
    background-image: url('../images/icon_bed.png');
}

.max_guest {
  background-image: url('../images/icon_group.png');
}

.number_bathrooms {
  background-image: url('../images/icon_bath.png');
}

.max_guest h4,
.number_bathrooms h4 {
.number_rooms h4,
  margin: 5px;
}

.user {
  display: flex;
  padding-top: 20px;
}

.user h4 {
  margin-left: 5px;
}

.user h3,
.user h4 {
  margin-bottom: 0;
}

.description {
  text-align: left;
}
